<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Here are some delicious Foods!</h1>
    @{
        var StringList = new List<string>
        {
            "Apple Pie",
            "Burritos",
            "Clams Casino",
            "Donuts"
        };
            
        foreach(var food in StringList)
        {
            <div>

                @if(food[0] == 'C')
                {
                    <p style="color:red">@food</p>
                }
                else{
                    <p>@food</p>
                }
            </div>
        }
}
</body>
</html>